# Customer Care
/src/services/care/ @heetch/customer-care
/src/services/legacy/apps/admin @heetch/customer-care

# Ride Team
/src/services/ride @heetch/ride-backend
/src/services/driver-state @heetch/ride-backend
/src/services/transportation @heetch/ride-backend
/src/services/product @heetch/ride-backend
/src/services/phona @heetch/ride-backend
/src/services/eyeball @heetch/ride-backend
/src/services/shared/city @heetch/ride-backend
/src/services/shared/state-notifier @heetch/ride-backend

# Money Team
/src/services/accounting @heetch/money
/src/services/driver-payments @heetch/money
/src/services/legacy/apps/recovery @heetch/money
/src/services/money @heetch/money
/src/services/payment-modes @heetch/money
/src/services/shared/mailer @heetch/money

# Driver Acquisition
/src/services/legacy/apps/drivers @heetch/driver-acquisition-backend
/src/services/driver-acquisition @heetch/driver-acquisition-backend
/src/services/user-account/authentication @heetch/driver-acquisition-backend
/src/services/user-account/authentication-bridge @heetch/driver-acquisition-backend
/src/services/user-account/push-provider-identifiers @heetch/driver-acquisition-backend

# Driver Engagement
/src/services/driver-engagement @heetch/driver-engagement-backend
/src/services/driver-engagement/quest-portal @heetch/driver-growth-frontend
/src/services/driver-account @heetch/driver-engagement-backend
/src/services/driver-account/portal @heetch/driver-growth-frontend

# Boost
/src/boost/kafka-proxy @heetch/boost
/src/shared/regula @heetch/boost
/src/shared/mobile-events @heetch/boost

# Marketplace Team
/src/services/marketplace @heetch/marketplace-backend
/src/services/pricing @heetch/marketplace-backend
/src/services/shared/day-phases @heetch/marketplace-backend

* @kwacky2
